<body>
  <div class="sidebar close">
    <div class="logo-details">
      <img src="logoClinica.png" alt="Logo" class="logo-image">
      <span class="logo_name">PAP²</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class='bx bx-file-find' ></i>
          <span class="link_name">Historial clínico</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Historial clínico</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
            <i class='bx bxs-file-plus' ></i>
            <span class="link_name">Creación de historial</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Creación de historial</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
            <i class='bx bx-plus' ></i>
            <span class="link_name">Agendación de citas</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Agendación de citas</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
            <i class='bx bx-user' ></i>
          <span class="link_name">Datos personales</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Datos personales</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
            <i class='bx bxs-bank' ></i>
          <span class="link_name">Términos y condiciones</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Términos y condiciones</a></li>
        </ul>
      </li>
      
      <li>
    <div class="log-out-section">
      <div class="log-out-icon">
        <!--<img src="image/profile.jpg" alt="profileImg">-->
      </div>
      <div class="log-out-mes">
        <div class="log-out-label">Cerrar sesión</div>
      </div>
      <i class='bx bx-log-out' ></i>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">Clínicas Psicologías del Perú</span>
    </div>
    <div class="verificador-container">
        <h2>Verificador de historias clínicas</h2>
        <input type="text" placeholder="Ingrese el ID del historial clínico">
      </div>
  </section>
</body>
